AAC-Factory-Bot-Main-Handler.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "name": "Telegram Bot Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -400
      ],
      "id": "bf069b99-22bb-42a2-a7af-73945968a823",
      "webhookId": "dd2819bd-8445-4f23-aaeb-7419f1c74634",
      "credentials": {
        "telegramApi": {
          "id": "unobc0pPuBUekcS2",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = items[0].json;\nlet eventType = 'unknown';\nlet userId = null;\nlet chatId = null;\nlet messageText = '';\nlet callbackData = '';\nlet hasPhoto = false;\n\ntry {\n  if (item.message) {\n    userId = item.message.from.id;\n    chatId = item.message.chat.id;\n    messageText = item.message.text || '';\n    hasPhoto = !!(item.message.photo && item.message.photo.length > 0);\n    \n    const text = messageText.toLowerCase().trim();\n\n    // ИСПРАВЛЕНИЕ: Улучшенная логика определения команд\n    if (text.startsWith('/start')) {\n      eventType = 'start';\n    } else if (text.startsWith('/моя_смена') || text.startsWith('/shift') || text === '📊 моя смена') {\n      eventType = 'shift_management';\n    } else if (text.startsWith('/брак') || text.startsWith('/defect') || text === '⚠️ сообщить о браке' || hasPhoto) {\n      eventType = 'defect_report';\n    } else if (text.startsWith('/рецепт') || text.startsWith('/recipe') || text === '📋 рецепты') {\n      eventType = 'recipe_search';\n    } else if (text.startsWith('/загрузка') || text.startsWith('/load') || text.startsWith('/остатки') || text.startsWith('/stock') || text === '📦 остатки') {\n      eventType = 'material_management';\n    } else if (text.startsWith('/помощь') || text.startsWith('/help')) {\n      eventType = 'help';\n    }\n\n  } else if (item.callback_query) {\n    userId = item.callback_query.from.id;\n    chatId = item.callback_query.message.chat.id;\n    callbackData = item.callback_query.data;\n\n    if (callbackData.startsWith('shift_')) {\n      eventType = 'shift_management';\n    } else if (callbackData.startsWith('defect_')) {\n      eventType = 'defect_report';\n    } else if (callbackData.startsWith('material_')) {\n      eventType = 'material_management';\n    } else if (callbackData.startsWith('recipe_')) {\n      eventType = 'recipe_search';\n    }\n  }\n\n  // ИСПРАВЛЕНИЕ: Добавляем валидацию данных\n  if (!userId || !chatId) {\n    throw new Error('Отсутствуют обязательные данные пользователя');\n  }\n\n  return [{\n    json: {\n      eventType: eventType,\n      userId: userId,\n      chatId: chatId,\n      messageText: messageText,\n      callbackData: callbackData,\n      hasPhoto: hasPhoto,\n      originalData: item\n    }\n  }];\n} catch (error) {\n  console.error('Ошибка обработки события:', error.message);\n  return [{\n    json: {\n      eventType: 'error',\n      error: error.message,\n      userId: userId,\n      chatId: chatId,\n      originalData: item\n    }\n  }];\n}"
      },
      "name": "Process Event - FIXED",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        -400
      ],
      "id": "7986ede6-8bd9-4322-b392-0ef853c08f46"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "start-condition",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.eventType }}",
                    "rightValue": "start"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "shift-condition",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.eventType }}",
                    "rightValue": "shift_management"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "shift_management"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "defect-condition",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.eventType }}",
                    "rightValue": "defect_report"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "defect_report"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "recipe-condition",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.eventType }}",
                    "rightValue": "recipe_search"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "recipe_search"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "material-condition",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.eventType }}",
                    "rightValue": "material_management"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "material_management"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "help-condition",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.eventType }}",
                    "rightValue": "help"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "help"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "name": "Route Events - COMPLETELY FIXED",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        440,
        -400
      ],
      "id": "a42a45e2-5a18-4469-bf07-298d767adaa9"
    },
    {
      "parameters": {
        "chatId": "={{$json.chatId}}",
        "text": "🏭 *Добро пожаловать на завод ААС!*\n\nЯ ваш цифровой помощник для управления производством.\n\n📋 *Доступные команды:*\n/моя_смена - Управление сменой\n/рецепт [название] - Поиск рецепта\n/брак - Сообщить о браке (+ фото)\n/загрузка [бункер] [материал] [кол-во] - Загрузка материала\n/остатки - Проверить критические остатки\n/помощь - Показать эту справку\n\n⚡ *Для быстрого доступа используйте кнопки меню.*",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Welcome - ENHANCED",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        660,
        -820
      ],
      "id": "146f154b-1b39-4ff1-b79a-402ca1393631",
      "webhookId": "491132c6-e5fc-4baf-897f-5424c640042d",
      "credentials": {
        "telegramApi": {
          "id": "unobc0pPuBUekcS2",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "{{ $vars.SHIFT_WORKFLOW_ID || 'УКАЖИТЕ_ID_WORKFLOW_СМЕН' }}",
        "options": {}
      },
      "name": "Execute Shift Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        660,
        -680
      ],
      "id": "67a5c00d-df77-4e2a-9afc-7d0487f3d9ae"
    },
    {
      "parameters": {
        "workflowId": "{{ $vars.DEFECT_WORKFLOW_ID || 'УКАЖИТЕ_ID_WORKFLOW_ДЕФЕКТОВ' }}",
        "options": {}
      },
      "name": "Execute Defect Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        660,
        -520
      ],
      "id": "37ddbbcc-33e4-4c06-88a9-ff6184888a30"
    },
    {
      "parameters": {
        "workflowId": "{{ $vars.RECIPE_WORKFLOW_ID || 'УКАЖИТЕ_ID_WORKFLOW_РЕЦЕПТОВ' }}",
        "options": {}
      },
      "name": "Execute Recipe Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        660,
        -360
      ],
      "id": "cce338e5-c95f-49a8-9fd2-230d2e09e641"
    },
    {
      "parameters": {
        "workflowId": "{{ $vars.MATERIAL_WORKFLOW_ID || 'УКАЖИТЕ_ID_WORKFLOW_МАТЕРИАЛОВ' }}",
        "options": {}
      },
      "name": "Execute Material Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        660,
        -200
      ],
      "id": "01fb6899-2f0d-4120-82da-7aebd010bbdf"
    },
    {
      "parameters": {
        "chatId": "={{$json.chatId}}",
        "text": "🏭 *Справка по командам завода ААС*\n\n📋 *Основные команды:*\n• `/моя_смена` - Начать/завершить смену, уйти на обед\n• `/рецепт D500` - Найти рецепт по названию\n• `/брак` - Сообщить о дефекте (прикрепите фото)\n• `/загрузка БЦ1 цемент 50` - Загрузить 50 тонн цемента в бункер БЦ1\n• `/остатки` - Показать критические остатки материалов\n\n💡 *Советы:*\n• Используйте кнопки для быстрого доступа\n• При сообщении о браке обязательно прикрепите фото\n• Указывайте точные названия материалов и бункеров\n\n❓ Возникли вопросы? Обратитесь к руководителю смены.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Help",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        660,
        -40
      ],
      "id": "0d1e8e05-3ada-40ad-9aa5-85877dbaa4bc",
      "webhookId": "d0d62a5f-bef3-495b-b5c1-8585f359f277",
      "credentials": {
        "telegramApi": {
          "id": "unobc0pPuBUekcS2",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.chatId}}",
        "text": "❌ *Произошла ошибка*\n\nПопробуйте позже или обратитесь к администратору.\n\nОшибка: {{$json.error}}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Error Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        660,
        140
      ],
      "id": "a4d1b498-d27f-41da-860e-920db835bfa8",
      "webhookId": "c8c44218-b7dc-4e9e-8942-86c79ace8679",
      "credentials": {
        "telegramApi": {
          "id": "unobc0pPuBUekcS2",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "connections": {
    "Telegram Bot Trigger": {
      "main": [
        [
          {
            "node": "Process Event - FIXED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Event - FIXED": {
      "main": [
        [
          {
            "node": "Route Events - COMPLETELY FIXED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Events - COMPLETELY FIXED": {
      "main": [
        [
          {
            "node": "Send Welcome - ENHANCED",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Shift Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Defect Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Recipe Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Material Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "648299e299cac772364408cdc8842b742b620f4e23b0830e3cf1308d7569bc02"
  }
}
